body {
    font-family: var(--font-inter);
}

.custom-logo {
    height: 49px;
    width: auto;
}
#header .menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
#header .menu a {
    color: #fff;
    font-size: 1.125rem;
    padding: 8px 12px;
    border-radius: 4px;
    transition: all 0.2s ease;
}
#header .menu a:hover,
#header .menu a:active {
    background-color: rgba(0, 0, 0, 0.3);
}

#footer .menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
#footer .menu a {
    display: block;
    color: #101010;
    padding: 4px 0;
    border-radius: 4px;
    transition: all 0.2s ease;
}
#footer .menu a:hover,
#footer .menu a:active {
    color: var(--color-light-green);
}

#mobile .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
#mobile .menu a {
    font-size: 1.5rem;
    display: block;
    color: #fff;
    padding: 4px 0;
    border-radius: 4px;
    transition: all 0.2s ease;
}
#mobile .menu a:hover,
#mobile .menu a:active {
    color: var(--color-light-green);
}

.custom-fill-green path {
    transition: all 0.2s ease;
}
.custom-fill-green:hover path,
.custom-fill-green:active path {
    fill: var(--color-green);
}

.testimonial-swiper .swiper-slide {
    height: auto !important;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
.accordion-content.active {
    max-height: 500px;
    transition: max-height 0.3s ease-in;
}
.accordion-icon {
    transition: transform 0.3s ease;
}
.accordion-icon.rotated {
    transform: rotate(45deg);
}

/* Header Menu */
.menu.first {
    transform: translateY(-5px);
    transition: all 0.2s;
}
.menu.middle {
    transition: all 0.2s;
}
.menu.last {
    transform: translateY(5px);
    transition: all 0.2s;
}
.mobile-open .menu.first {
    transform: translateY(4px) rotate(45deg);
}
.mobile-open .menu.middle {
    opacity: 0;
}
.mobile-open .menu.last {
    transform: translateY(-4px) rotate(-45deg);
}
#toggle-menu {
    z-index: -1;
    appearance: none;
    opacity: 0;
    transition: all 0.3s ease;
}
#toggle-menu.active {
    z-index: 50;
    appearance: visible;
    opacity: 1;
}

/* FORM CLASSES */
.hy-form-step {
    background-color: #e3e3e3;
}
.hy-form-step.done {
    background-color: var(--color-light-green);
}

/* ACCORDION */
.hy-accordion-item {
    cursor: pointer;
}
.hy-accordion-item.active {
    cursor: unset;
}
.hy-accordion-content {
    max-height: 0 !important;
    transition: all 1s ease;
    overflow: hidden;
}
.hy-accordion-item.active .hy-accordion-content {
    max-height: 200px !important;
}
.hy-accordion-bar {
    background-color: var(--color-neutral-300);
    transition: all 1s ease;
}
.hy-accordion-item.active .hy-accordion-bar {
    background-color: var(--color-light-green);
}
