body {
    font-family: var(--font-inter);
}
.truncate-4 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
}
.custom-logo {
    height: 49px;
    width: auto;
}
#header .menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
#header .menu a {
    color: #fff;
    font-size: 1.125rem;
    padding: 8px 12px;
    border-radius: 4px;
    transition: all 0.2s ease;
}
#header .menu a:hover,
#header .menu a:active {
    background-color: rgba(0, 0, 0, 0.3);
}

#footer .menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
#footer .menu a {
    display: block;
    color: #101010;
    padding: 4px 0;
    border-radius: 4px;
    transition: all 0.2s ease;
}
#footer .menu a:hover,
#footer .menu a:active {
    color: var(--color-light-green);
}

#mobile .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
#mobile .menu a {
    font-size: 1.5rem;
    display: block;
    color: #fff;
    padding: 4px 0;
    border-radius: 4px;
    transition: all 0.2s ease;
}
#mobile .menu a:hover,
#mobile .menu a:active {
    color: var(--color-light-green);
}

.custom-fill-green path {
    transition: all 0.2s ease;
}
.custom-fill-green:hover path,
.custom-fill-green:active path {
    fill: var(--color-green);
}

.testimonial-swiper .swiper-slide {
    height: auto !important;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
.accordion-content.active {
    max-height: 500px;
    transition: max-height 0.3s ease-in;
}
.accordion-icon {
    transition: transform 0.3s ease;
}
.accordion-icon.rotated {
    transform: rotate(45deg);
}

/* Header Menu */
.menu.first {
    transform: translateY(-5px);
    transition: all 0.2s;
}
.menu.middle {
    transition: all 0.2s;
}
.menu.last {
    transform: translateY(5px);
    transition: all 0.2s;
}
.mobile-open .menu.first {
    transform: translateY(4px) rotate(45deg);
}
.mobile-open .menu.middle {
    opacity: 0;
}
.mobile-open .menu.last {
    transform: translateY(-4px) rotate(-45deg);
}
#toggle-menu {
    z-index: -1;
    appearance: none;
    opacity: 0;
    transition: all 0.3s ease;
}
#toggle-menu.active {
    z-index: 50;
    appearance: visible;
    opacity: 1;
}

/* FORM CLASSES */
.hy-form-step {
    background-color: #e3e3e3;
}
.hy-form-step.done {
    background-color: var(--color-light-green);
}

/* ACCORDION */
.hy-accordion-item {
    cursor: pointer;
}
.hy-accordion-item.active {
    cursor: unset;
}
.hy-accordion-content {
    max-height: 0 !important;
    transition: all 1s ease;
    overflow: hidden;
}
.hy-accordion-item.active .hy-accordion-content {
    max-height: 200px !important;
}
.hy-accordion-bar {
    background-color: var(--color-neutral-300);
    transition: all 1s ease;
}
.hy-accordion-item.active .hy-accordion-bar {
    background-color: var(--color-light-green);
}

#faq-editor ol,
#faq-editor ul {
    padding-left: 20px;
    margin: 10px 0;
}
#faq-editor ol {
    list-style: decimal;
}
#faq-editor li {
    margin-bottom: 6px;
}
#faq-editor p {
    margin: 10px 0;
}
#hy-lead-magnet-wrapper br {
    display: none;
}
#hy-lead-magnet-wrapper input[type="email"] {
    border: 1px solid #c4c4c4;
    padding: 16px;
    border-radius: 8px;
    font-size: 14px;
    color: #535353;
    margin-top: 10px;
    width: 100%;
}
#hy-lead-magnet-wrapper > p:has(input[type="submit"]) {
    margin-top: 10px;
    position: relative;
}
#hy-lead-magnet-wrapper .wpcf7-spinner {
    position: absolute;
    top: 16px;
    right: 0;
    margin: 0 8px;
    background-color: #fff;
}
#hy-lead-magnet-wrapper .wpcf7-spinner::before {
    background-color: #222;
}
#hy-lead-magnet-wrapper input[type="submit"] {
    background-color: var(--color-light-green);
    padding: 16px;
    border-radius: 8px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    text-align: center;
}
#hy-lead-magnet-wrapper input[type="submit"]:hover,
#hy-lead-magnet-wrapper input[type="submit"]:active {
    background-color: var(--color-green);
}
form:has(#hy-lead-magnet-wrapper) .wpcf7-response-output {
    margin: 10px 0 0 0;
    font-size: 14px;
    padding: 6px 10px 8px 10px;
}
#hy-lead-magnet-wrapper .wpcf7-not-valid-tip {
    font-size: 14px;
}
#hy-lead-magnet-toggle {
    opacity: 0;
    appearance: none;
    transform: translateX(40px);
    transition: all 0.5s ease;
}
#hy-lead-magnet-toggle.active {
    opacity: 1;
    appearance: visible;
    transform: translateX(0);
}

/* Flashing */
.opacity-animation img {
    opacity: 1;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    backface-visibility: hidden;
}
.opacity-animation:hover img {
    opacity: 0.8;
    transform: scale(1.05) rotate(1deg);
}
.opacity-animation .card-title {
    transition: all 0.3s ease-in-out;
}
.opacity-animation:hover .card-title {
    color: var(--color-green);
    text-decoration: underline;
}
.my-svg-white path {
    stroke: #fff;
}
.writing-sideway {
    writing-mode: sideways-lr;
    text-orientation: mixed;
}
.about-editor ul {
    padding-left: 20px;
    margin: 10px 0;
    list-style: disc;
}
.about-editor ul li:not(:last-child) {
    margin-bottom: 16px;
}
.about-editor p {
    margin: 10px 0;
}
.about-editor strong {
    font-weight: 600;
}
.testimonial-editor p:not(:last-of-type) {
    margin-bottom: 16px;
}
